body {
    font-family:  Arial, Helvetica, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('clark2.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}

.centered-text {
    text-align: center;
    height: 70vh;
    color: #f4f4f4;
    margin-top: 20vh;
    font-size: 32px;
}

header {
    
    color: #fff;
    text-align: left;
    padding: 1em;
    
}
.h1{
    text-align: left;
}
.subheading{
    color:#333;
}

nav {
    display: flex;
    justify-content: right;
    
    padding: 0.5em;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

nav2 {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 0.5em;
    
}

nav2 a {
    color: #333;
    text-decoration: none;
    
    margin-top: 12vh;
    font-size: 40px;
}

nav2 a:hover {
    text-decoration: underline;
}



.container {
    
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f4f4f4;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    gap: 20px;
    padding: 20px;
}

.grid-item {
    
    color: #333;
}








footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em;
    height: 30px; /* Adjusted height to make it shorter */
   
    bottom: 0;
    width: 100%;
}


  
  /* Create two equal columns that sits next to each other */
  
  
  