body {
    font-family:  Arial, Helvetica, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('clark2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}

.centered-text {
    text-align: center;
    height: 70vh;
    color: #f4f4f4;
    margin-top: 20vh;
    font-size: 32px;
}

header {
    
    color: #fff;
    text-align: left;
    padding: 1em;
    
}
.h1{
    text-align: left;
}
.subheading{
    color:#333;
}

nav {
    display: flex;
    justify-content: right;
    
    padding: 0.5em;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    border-radius: 1px;
    transition: background-color 0.3s;
    
}

nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}


.container {
    
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f4f4f4;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    gap: 30px;
    padding: 40px;
}

.grid-item {
    
    color: #333;
}



.container2 {
    
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #4449ce;
    color: #f4f4f4;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    gap: 20px;
    padding: 20px;
}

.containerh {
    
    display: flex;
   
    padding: 20px;
    
}

.grid-containerh {
    display: grid;
    grid-template-columns: repeat(2);
    width: 100%;
    gap: 10px;
    padding: 40px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em;
    height: 30px; /* Adjusted height to make it shorter */
   
    bottom: 0;
    width: 100%;
}


  
  /* Create two equal columns that sits next to each other */
  
  
  