body {
    font-family:  Arial, Helvetica, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    
}

header {
    background-color: #A40728;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #A40728;
    padding: 0.5em;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #800c25;
}

section {
    padding: 2em;
}

.container {
    
    justify-content: space-around;
    padding: 10px;
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em;
    height: 30px; /* Adjusted height to make it shorter */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-item {
    text-align: center;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.grid-item p {
    margin: 10px 0;
}
