body, html {
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
}
body {
  padding: 5% 5%;
  font-family: Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  display: block;
}

nav {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  padding-bottom: 4%;

}
nav a{
  color:rgb(251, 69, 69);
  text-decoration: none;
  padding: 1% 4%;
  background-image: linear-gradient(rgb(251, 69, 69), rgb(251, 69, 69));
  background-size: 0% 0.1em;
  background-position-y: 85%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
  
}
nav a:hover,
a:focus,
a:active {
background-size: 100% 0.1em;
}

.main-content {
  padding-left: 5%;
}

.textbox {
  padding: 5% 10%;
  width: 40%;
  text-align: center;
  background-color: beige;
  border-radius: 3%;
  box-shadow:1px 1px 1px 1px  rgb(179, 179, 179);
}

.projectlinks{
  padding-left: 4%;
  display: block;
}
.projectlinks a{
  color: rgb(96, 95, 95);
  text-decoration: none;
  padding-top: 10px;
  font-size: x-large;
}

.projectlinks a:hover{
  text-decoration: underline;
}
.subtitle{
  font-size: large;
  padding-left: 2%;
  color: rgb(96, 95, 95);
}
.resume{
  padding-left: 20%;
}




@keyframes scroll-left {
  from {
    bottom: -140%;
    -webkit-transform:scale(3); /*Webkit: Scale down image to 0.6x original size*/
-moz-transform:scale(3); /*Mozilla scale version*/
-o-transform:scale(3); /*Opera scale version*/
  }
  to {
    bottom: 0%;
    -webkit-transform:scale(1); /*Webkit: Scale down image to 0.6x original size*/
-moz-transform:scale(1); /*Mozilla scale version*/
-o-transform:scale(1); /*Opera scale version*/

  }
  
}
@keyframes fadeIn {
from { opacity: 0; }
to { opacity: 1; }
}